<h1>New Team</h1>

<%= form_for @team do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

      <% if @team.errors.any? %>
        <%= render partial: 'shared/validation_errors', locals: { model: @team} %>
      <% end %>

      <ul>
        <% @team.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>
