<div class="mdl-card mdl-shadow--16dp full-width">

  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text"><%= @team.name %></h2>
    <div class="mdl-layout-spacer"></div>
    <%= link_to 'Back', teams_path, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>



  <div class="mdl-card__title">
    <h3 class="mdl-card__title-text">Current Games</h3>
    <div class="mdl-layout-spacer"></div>
    <%= link_to 'Add Game', new_team_game_path(@team), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>

  <%= render partial: 'shared/team_games_table', locals: { team: @team } %>

  <div class="mdl-card__actions mdl-card--border">
    <div class="mdl-layout-spacer"></div>
    <%= link_to 'Create Calendar', new_team_calendar_path(@team), method: :post, class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
  </div>

</div>

