<div class="mdl-card mdl-shadow--16dp full-width">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">New Game</h2>

  </div>

  <div class="mdl-card__supporting-text">
    <%= form_for [@team, @game] do |f| %>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :date, class: 'mdl-textfield__label' %>
        <br>
        <%= f.date_field :date, class: 'mdl-textfield__input', pattern: "^(\w+\S+)$" %>

        <div class="mdl-textfield__error">
          <% if @game.errors.any? %>
            <%= render partial: 'shared/validation_errors', locals: { model: @game} %>
          <% end %>
        </div>
      </div>


      <div class="mdl-textfield mdl-js-textfield">
        <%= f.label :time, class: 'mdl-textfield__label' %>
        <br>
        <%= f.time_field :time, class: 'mdl-textfield__input' %>
      </div>

      <div class="mdl-textfield mdl-js-textfield">
        <%= f.text_field :field, class: 'mdl-textfield__input' %>
        <%= f.label :field, class: 'mdl-textfield__label' %>
      </div>

      <%= f.hidden_field :team_id, value: @team.id, class: '' if @team %>

      <div class="mdl-card__actions mdl-card--border">
        <div class="mdl-layout-spacer"></div>
        <%= link_to 'cancel', team_path(@team), class: 'mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect' %>
        <%= f.submit 'Create Game', class: 'mdl-button mdl-js-button mdl-button--raised' %>
      </div>
    <% end %>
  </div>
</div>







